- title 'Le Manifeste'


%header#overview.jumbotron.subhead
  .subnav
    %ul.nav.nav-pills
      %li= link_to 'Le manifeste', '#manisfesto'
      %li= link_to 'Le BYOD ?', '#le_byod'
      %li= link_to 'Contact', '#contact'
      %li= link_to "Conditions d'utilisation", '#conditions_utilisation'


%section#manisfesto
  .hero-unit
    %h1= 'BYOD Manifesto'
    %p.double-quote=raw "Nous croyons qu'on travaille mieux avec les outils qu'on a <strong>choisi soi-même</strong>,"
    %p=raw "En conséquence, nous croyons à la <strong>ré-appropriation de l’outil de travail</strong> par l'employé,"
    %p=raw "Nous croyons qu'employeur et employé peuvent établir <strong>un contrat de confiance</strong> autour de la propriété et des usages des outils de travail,"
    %p=raw "Nous souhaitons partager nos expériences entre organisations souhaitant <strong>mettre en oeuvre la dynamique BYOD</strong>."
    
    %h3= 'Engagement nécessaire : le contrat de confiance'
    .row-fluid
      .span6
        %blockquote
          %p= "Je fais confiance à mes employés pour choisir les outils satisfaisant à leurs besoins professionnels"
          %small= "L'employeur"
      .span6
        %blockquote
          %p= "Je suis honnête et je ne chercherai pas à tirer économiquement parti de la subvention de l'employeur"
          %small= "L'employé"


    = simple_form_for @contact, :html => { :class => 'form-horizontal' } do |f|
      = f.input :email, :wrapper => :prepend, :label => false do
        = content_tag :span, 'E-mail', :class => 'add-on'
        = f.input_field :email, placeholder: 'email@domaine.com'
        = f.button :submit, "Tenez-moi informé", :class => 'btn-primary btn-large'
        %p.help-block= "Promis, nous ne vous spamerons pas !"


%section#le_byod
  .page-header
    %h1= 'Le BYOD ?'
  .row
    .span12
      %p=raw "BYOD signifie <strong>Bring Your Own Device</strong>, soit littéralement “apportez votre propre appareil”.<br />On trouve une définition courte sur #{link_to 'la version française de Wikipedia', 'http://fr.wikipedia.org/wiki/BYOD'}, et une plus complète sur #{link_to 'la version anglaise', 'http://en.wikipedia.org/wiki/Bring_your_own_device'}."
      %p= "On peut appréhender le BYOD selon deux grands axes : "
      %ul
        %li= "Qui fait le choix de l’outil de travail autorisé à se connecter au SI ?"
        %li= "Qui est propriétaire de l’outil de travail  ?"
      
      .byod_matrice= image_tag 'matrice.jpg'

      %h3= "“Le Corporate Managed Device” (CMD)"
      %p= "C’est le modèle traditionnel : l’entreprise gère de bout en bout son parc informatique. Dans ce cas, elle fait souvent le choix d’un porte de travail standardisé, avec des logiciels communs à tous les employés, et un système de télédistribution des mises à jour."

      %h3= "Le “Choose Your Device” (CHD)" 
      %p= "En discutant avec diverses entreprises, nous avons constaté qu’un certain nombre d’entre-elles ne proposent pas à leurs employés d’utiliser leur propre appareil. Par contre, elles leurs permettent de choisir un appareil dans une gamme. Par exemple l’employé peut choisr entre un Smartphone BlackBerry, Apple ou Android."
      %p= "Nous introduisons ce modèle ici car il est souvent associé au BYOD, même si c’est pour nous une approximation."

      %h3= "“Connect Your Own Device” (CYOD)"
      %p= "C’est un BYOD de commodité. Il consiste à autoriser un accès des appareils des employés à certains services du SI : emails, calendriers, Intranet, etc. Ce modèle est généralement proposé pour proposer un accès supplémentaire au SI pour les employés nomades, en complément des outils de travail fournis par l’entreprise. Il ne constitue pas une alternative au poste de travail d’entreprise “classique”."
      %p= "Il existe aussi des cas où l’employé bénéficie d’un environnement de travail amélioré car il décide d’emporter son matériel au travail : on peut évoquer le cas de personnes qui utilisent leurs tablettes personnelles pour prendre des notes en réunion."

      %h3= "Le BYOD “intégral”" 
      %p= "Ce modèle est beaucoup plus tranché : il consiste à proposer aux employés d’acheter eux même leurs outils de travail (Smartphone et/ou Laptop). C’est ce modèle que nous qualifions de “intégral” BYOD sur ce site, et c’est celui qui nous intéresse."
      %p= "Les bénéfices attendus de ce modèle sont :"
      %ul
        %li= "Maximiser l’efficacité des employés, car on travaille mieux avec les outils qu’on a choisi soi même ;"
        %li= "Le soin que le collaborateur apporte à un matériel qui lui appartient ;"
        %li= "Éviter au collaborateur de gérer deux appareils iso-fonctionnels, en particulier de transporter deux téléphones au quotidien."



%section#contact
  .page-header
    %h1= "Contact"
  .row
    .span12
      %p=raw "Qui sommes-nous ? Un groupe de travail d’#{link_to 'OCTO Technology', 'http://www.octo.com/', :target => '_blank'} est à l’origine de ce site."
      %p=raw "Comment nous contacter ? #{mail_to 'byod.projet@octo.com'}"


%section#conditions_utilisation
  .page-header
    %h1
      = "Conditions d'utilisation"
      %small= 'Licence Creative Commons'
  .row
    .span12
      %p= link_to image_tag('http://i.creativecommons.org/l/by-nc/3.0/88x31.png', alt: 'Licence Creative Commons', border: '0'), 'http://creativecommons.org/licenses/by-nc/3.0/', target: '_blank', rel: 'license'
      %p
        %span{'xmlns:dct' => 'http://purl.org/dc/terms/', href: 'http://purl.org/dc/dcmitype/Text', property: 'dct:title', rel: 'dct:type'}= 'BYOD Manifesto'
        = ' de '
        = link_to 'www.byod-manifesto.org', 'http://www.byod-manifesto.org', target: '_blank', 'xmlns:cc' => 'http://creativecommons.org/ns#', property: 'cc:attributionName', rel: 'cc:attributionURL'
        = 'est mis à disposition selon les termes de la '
        = link_to "licence Creative Commons Attribution - Pas d'Utilisation Commerciale 3.0 non transposé", 'http://creativecommons.org/licenses/by-nc/3.0/', target: '_blank', rel: 'license'
