- title 'Le Manifeste'


%header#overview.jumbotron.subhead
  .subnav
    %ul.nav.nav-pills
      %li= link_to 'Le manifeste', '#manisfesto'
      %li= link_to 'BYOD ?', '#what'
      %li= link_to 'Le contrat de confiance', '#engagments'
      %li= link_to 'FAQ', '#faq'
      %li= link_to 'Informez moi !', '#sign_up'
      %li= link_to 'Signataires', '#enterprises'
      %li= link_to "Conditions d'utilisation", '#terms_of_usage'


%section#manisfesto
  .hero-unit
    %h1= 'BYOD Manifesto'
    %p=raw "Nous croyons qu'on travaille mieux avec les outils qu'on a <strong>choisi soi-même</strong>,"
    %p=raw "En conséquence, nous croyons à la <strong>ré-appropriation de l’outil de travail</strong> par l'employé,"
    %p=raw "Nous croyons qu'employeur et employé peuvent établir <strong>un contrat de confiance</strong> autour de la propriété et des usages des outils de travail,"
    %p=raw "Nous souhaitons partager nos expériences entre organisations souhaitant <strong>mettre en oeuvre la dynamique BYOD</strong>."

    = simple_form_for @contact, :html => { :class => 'form-horizontal' } do |f|
      = f.input :email, :wrapper => :prepend, :label => false do
        %h2= 'Je suis intéressé'
        = content_tag :span, 'E-mail', :class => 'add-on'
        = f.input_field :email, placeholder: 'email@domaine.com'
        = f.button :submit, "S'inscrire", :class => 'btn-primary btn-large'
        %p.help-block= "Promis, nous ne vous spamerons pas !"


%section#what
  .page-header
    %h1
      = 'BYOD ?'
      %small= "Bring Your Own Device"
  .row
    .span12
      %p= "BYOD signifie <strong>Bring Your Own Device</strong>. On trouve une définition courte sur {link_to 'http://fr.wikipedia.org/wiki/BYOD','la version française de Wikipedia'}, et une plus complète sur {link_to 'http://en.wikipedia.org/wiki/Bring_your_own_device','la version anglaise.'}" 
      %p= "On peut appréhender le BYOD selon deux grands modèles, décrits ci dessous. "
      %h2= "Le BYOD de commodité"
      %p= "Le premier consiste à autoriser un accès ponctuel des terminaux des employés à certains services du SI : emails, calendriers, Intranet, etc. Ce modèle est généralement proposé pour proposer un accès supplémentaire au SI, en complément des outils de travail fournis par l’entreprise. Il ne constitue pas une alternative au poste de travail d’entreprise “classique”. Il existe des cas où l’employé bénéficie d’un environnement de travail amélioré car il décide d’emporter son matériel au travail : on peut évoquer le cas de personnes qui utilisent leurs tablettes personnelles pour prendre des notes en réunion. Nous considérons que ce cas est comparable au précédent."
      %h2= "Le BYOD “intégral”" 
      %p= "Le second modèle est beaucoup plus tranché : il consiste à proposer aux employés d’acheter eux même leurs outils de travail (smartphone et/ou ordinateur). C’est ce modèle que nous qualifions de “vrai” BYOD sur ce site, et c’est celui qui nous intéresse. Les bénéfices attendus de ce modèle sont : maximiser l’efficacité des employés, car on travaille mieux avec les outils qu’on a choisi soi même ; Le soin que le collaborateur apporte à un matériel qui lui appartient ; éviter au collaborateur de gérer deux appareils iso-fonctionnels, en particulier de transporter deux téléphones au quotidien."


%section#engagments
  .page-header
    %h1= 'Le contrat de confiance'
  .row
    .span6
      %blockquote
        %p= "Je fais confiance à mes employés pour choisir les outils satisfaisant à leurs besoins professionnels"
        %small= "L'employeur"
    .span6
      %blockquote
        %p= "Je suis honnête et je ne chercherai pas à tirer économiquement parti de la subvention de l'employeur"
        %small= "L'employé"


%section#faq
  .page-header
    %h1= 'FAQ'
  .row
    .span12
      %p= "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum."
      %p= "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum."
      %p= "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum."


%section#sign_up
  .page-header
    %h1= "Informez moi !"
  .row
    = simple_form_for @contact, :html => { :class => 'form-horizontal' } do |f|
      = f.input :email, :wrapper => :prepend, :label => false do
        = content_tag :span, 'E-mail', :class => 'add-on'
        = f.input_field :email, placeholder: 'email@domaine.com'
        = f.button :submit, "S'inscrire", :class => 'btn-primary btn-large'
        %p.help-block= "Promis, nous ne vous spamerons pas !"
  .row
    .span12
      %p= "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum."
      %p= "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum."
      %p= "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum."


%section#enterprises
  .page-header
    %h1
      = "Signataires"
      %small= "En tant qu'entreprise ou influenceur"
  .row
    .span12
      %p= "Carousel avec les logos des signataires et un lien vers un PDF de leur implementation."


%section#terms_of_usage
  .page-header
    %h1
      = "Conditions d'utilisation"
      %small= "Creative Commons"
  .row
    .span12
      %p= "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum."
      %p= "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum."
      %p= "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum."
