- title 'FAQ'

.page-header
  %h1= 'Questions / Réponses'

.well
  %h3= "Si je m'inscris aux alertes, qu'allez-vous m'envoyer ?"
  %p= "Nous vous tiendrons au courant des évolutions majeures du site : nouvelles rubriques et fonctionnalités, à un rythme au mieux trimestriel."

.well
  %h3= "Je souhaite participer à l'initiative BYOD Manifesto, comment faire ?"
  %p= "Utilisez le formulaire “Contactez-nous” pour vous présenter. Nous serons très heureux de vous intégrer à notre réflexion."

.well
  %h3= "Je souhaite ajouter l'exemple de mon entreprise sur le site pour l'enrichir. Que dois-je faire ?"
  %p= "Utilisez le formulaire “Contactez-nous” pour nous parler de votre projet. Nous intégrerons votre retour d’expérience à notre base en construction."

.well
  %h3= "Je souhaite en savoir plus sur le retour d’expérience de telle ou telle entreprise ?"
  %p= "Utilisez le formulaire “Contactez-nous” pour vous présenter. Nous informerons notre contact dans cette entreprise, puis il reviendra vers vous si son agenda le lui permet."

.well
  %h3= "Si je veux utiliser les informations de ce site, puis-je le faire librement ?"
  %p= "Vous pouvez réutiliser les contenus de ce site en respectant la charte Creative Commons. Ainsi, vous pouvez partager et adapter les contenus. Mais vous ne pouvez pas en attribuer la paternité, ni en faire un usage commercial."

